name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Cache cargo
      uses: swatinem/rust-cache@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Install cargo-bundle
      run: cargo install cargo-bundle
    - name: Bundle the macOS .app
      run: cargo bundle --release
    - name: Upload .app artifact
      uses: actions/upload-artifact@v4
      with:
        name: gui.nvim.app
        path: target/release/bundle/osx/*.app

